.nav{
    
    font-family: "Poppins", sans-serif;
    position:static;
    top: 0;
    left: 50;
    width: 75%;
    padding: 15px 200px;
    background: rgb(233, 190, 34);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content:space-between;
    display: flex;
    align-items: center;

}
.head{
    font-style:italic;
    margin-left: 500px;
}
img{
    border: darkblue solid 2px;
    font-size:xx-large;
    

}
.test{
    border: blue solid 2px;
    border-width: 20px;
    /* border top bottom left right width acc to need */
    border-style: groove;
     border-collapse:collapse;
    padding: 50px;
    outline: 20px green solid;
   outline-offset: 20px;
   margin-bottom: 70px;
}
    body{
        background-color: silver;
    }