form{
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
  
}

h1{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    margin-bottom:auto;
}
.reg{
    background-color: rgb(160, 130, 215);

}
body{
    background-color:azure;
}
.label{
    padding-left: 20%;
}
form.name{
    padding-left: 20%;
}